/**
* Naming conventions: 
* 
* .monochrome_options is the container for monochrome options
* .blur_options is the container for Gaussian blur 
* .edge_options is the container for edge detection options 
* .bucket_tool is the container for the bucket fill tool 
* 
* #layer-panel is the container for all layers 
* #layer-list is the list of layers 
* 
* #canvas is the main canvas to render images 
*/

/* Body formatting */

html, body {
    margin: 0; 
    padding: 0; 
    height: 100%; 
    width: 100%; 
    display: flex;
    flex-direction: column;
}

body {
    flex-grow: 1; 
}

/* 
* Headers 
* box-shadow property is defined by: x-offset y-offset blur spread color
*/
.headers {
    background-color: #3B4650;
    margin: 0; 
    padding: 10px; 
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2); 
}

/* Add image button */
.custom-upload {
    display: inline-block;
    background-color: #39B3FD;
    color: white;
    padding: 5px 10px;
    font-size: 15px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-upload:hover {
    background-color: #28a2ed;
}

/* Hide the actual file input */
#upload {
    display: none;
}

/* Middle section containing layers and canvas */
.middle {
    display: flex;
    flex-direction: row;
    background-color: #1E262B;
    height: 100%; 
    width: 100vw; 
    flex-grow: 1; 
    overflow: hidden; 
}

/* Layers */
#layer-panel {
    min-width: 150px;
    width: 150px;
    height: 100%;
    background-color: #101519;
    overflow-y: scroll;
    box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

#layer-panel h3 {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 10px;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid #3B4650;
}

#layer-list {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

/* Each layer item */
#layer-list li {
    padding: 10px;
    margin: 0px; 
    border-bottom: 1px solid #3B4650;
    background-color: #101519;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Selected layer style */
#layer-list li.selected {
    background-color: #5E6973;
}

/* Image thumbnails inside layers */
.layer-item img {
    display: block;
    margin: 0 auto 5px auto;
    border-radius: 0px;
    max-width: 80px;
    height: auto;
}

/* Canvas */
.canvas {
    background-color: white;
}

/* Bottom section contaning filters and tools */
.bottom {
    padding: 20px 0px 20px 0px; 
    margin: 0; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    background-color: #2D363E;
    height: 150px; 
    color: white; 
    font-family: 'Inter', sans-serif;
    font-size: 12px; 
}

/* Add vertical separator lines between children of .bottom */
.bottom > div:not(:last-child) {
    border-right: 1px solid #5E6973;
}

.bottom > * {
    margin: 0px 10px 0px 10px; 
}

.bottom h3 {
    margin: 0; 
    margin-bottom: 10px; 
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
